# Terraform
**/.terraform/*
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock file (opcional, recomendado mantener en Git)
# .terraform.lock.hcl

# Crash logs
crash.log

# CLI configuration files
.terraformrc
terraform.rc

# OS
.DS_Store
Thumbs.db
